<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Registrarse</strong></span>
      </li>
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="login"></span>
        <span><strong>iniciar sesion</strong></span>
      </li>
    </ul>
  </nz-sider>


  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      
<li nz-menu-item routerLink="/admin/room">
        <span nz-icon nzType="apartment"></span>
        <span><strong>publicar Habitaciones</strong></span>
      </li>

      <li nz-menu-item routerLink="/admin/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Habitaciones</strong></span>
      </li>

      
      <li nz-menu-item routerLink="/admin/reservations">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservaciones</strong></span>
      </li>

        <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Cerrar sesion</strong></span>
      </li>
    </ul>
  </nz-sider>

   <nz-sider nzCollapsible nzWidth="200px" *ngIf="isCustomerLoggedIn">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/customer/rooms">
        <span nz-icon nzType="apartament"></span>
        <span><strong>Habitaciones</strong></span>
      </li>

      
      <li nz-menu-item routerLink="/customer/bookings">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservación</strong></span>
      </li>

        <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Cerrar sesion</strong></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer></nz-footer>
  </nz-layout>
</nz-layout>
