<div class="center-form">
    <img src="../../../assets/Logotipo.png" alt="Logo" class="logo"/>
    <h2>INICIA SESIÓN</h2>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()"  class="custom-form">
 
         <nz-form-item>
            <nz-form-control nzErrorTip="Por favor ingrese su correo electronico!">
                <nz-input-group nzPrefixIcon="user">
                    <input type= "text"formControlName="email" placeholder="Ingrese su correo electronico"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

         <nz-form-item>
            <nz-form-control nzErrorTip="Por favor ingrese su contraseña!">
                <nz-input-group nzPrefixIcon="lock">
                    <input type= "password" formControlName="password" placeholder="Ingrese su contraseña"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>


        <button nz-button nzType="primary" nzBlock [disabled]="loginForm.invalid"  class="w-100">
            Inicia Sesion
        </button>



